
/* Header styles */
.app-header {
    padding: var(--spacing-200);
    display: flex;
    margin-bottom: var(--spacing-500);
}

.app-header__logo {
    width: 184px;
    height: 30px;
    margin-right: auto;
}

.app-header__theme-button {
    -webkit-tap-highlight-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--box-background);
    border-radius: var(--radius-6);
    display: flex;
    justify-content: center;
    align-items: center;

    :hover {
        cursor: pointer;
    }
}

.app-header__theme-icon {
    width: 20px;
    height: 20px;
}

/* main */
.mainApp {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
}

.mainApp__heading {
    text-align: center;

    @media(min-width: 768px) {
        width: 50%;
        margin: 0 auto;
    }
}

/* user inputs */
.userInputs {
    padding: 0 var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.userInputs__text {
    height: 20rem;
    border-radius: var(--radius-12);
    border: none;
    padding: var(--spacing-200);
    color: inherit;
    background-color: var(--box-background);
    box-shadow: inset 0 0 0 2px var(--box-inset-shadow);
    overflow: auto;
    resize: none;

    @media (hover: hover) {
        &:hover {
            background-color: var(--box-hover);
        }
    }

    &:focus {
        outline: 2px solid var(--purple-500);
        box-shadow: 0 0 8px 8px var(--purple-500-shadow);
    }

    &.limitExceeded {
        outline: 2px solid var(--orange-800);
        box-shadow: 0 0 8px 8px var(--orange-800-shadow);
    }
}

.userInputs .icon {
    margin-right: var(--spacing-100);
}

.userInpus__errorMessage {
    color: var(--orange-800);
}

.userInputs__features {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    justify-content: space-between;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150);

    @media (min-width: 768px) {
        align-items: center;
        flex-direction: row;
    }
}

.userInputs__checkbox-label {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.userInput__custon-checkbox {
    margin-right: 1rem;
    width: 16px;
    height: 16px;
    border-radius: var(--radius-4);
    border: 1px solid var(--secondary-color);
}

input[type="checkbox"]:checked + .userInput__custon-checkbox {
    background: var(--purple-500) url("../assets/icon-check.svg") no-repeat center;
    border: none;
}

.userInputs__maxVal {
    -moz-appearance: textfield;
    appearance: textfield;
    max-width: 5.5rem;
    padding: 0.4rem 1.2rem;
    background-color: var(--box-background);
    border: none;
    border-radius: var(--radius-6);
    box-shadow: inset 0 0 0 2px var(--box-inset-shadow);
    color: inherit;


    &:focus{
        outline: 2px solid var(--purple-500);
        box-shadow: 0 0 8px 8px var(--purple-500-shadow);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* Results */
.results {
    padding: 0 var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.results__cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.result-card {
    width: 100%;
    padding: 2rem;
    border-radius: var(--radius-12);
    color: var(--neutral-900);
}

.result-card__number {
    margin-bottom: var(--spacing-100);
}

.result-card.total-characters {
    background: var(--purple-500) url("../assets/pattern-character-count.svg") no-repeat calc(100% + 50px);
}

.result-card.word-count {
    background: var(--yellow-500) url("../assets/pattern-word-count.svg") no-repeat calc(100% + 50px);
}

.result-card.sentence-count {
    background: var(--orange-500) url("../assets/pattern-sentence-count.svg") no-repeat calc(100% + 50px);
}

.results__stats {
    margin-bottom: var(--spacing-400);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.stats-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.letter-stat {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr 8rem;
    gap: 1.4rem;
}

.letter-stat__percentage-bar {
    height: 1.2rem;
    border-radius: var(--radius-full);
    background-color: var(--box-background);
}

.letter-stat__percentage {
    height: 100%;
    border-radius: var(--radius-full);
    background-color: var(--purple-500);
}

.letter-stat__letter {
    text-align: center;
}

.letter-stat__number {
    text-align: end;
}

.result__stats-see-more-btn {
    align-self: flex-start;
    background: none;
    border: none;
    color: inherit;
}